{
    "presets": ["module:metro-react-native-babel-preset"],
    "plugins": [
        [
            "module-resolver", {
                "root": ["./lib"],
                "extensions": [".js"]
            }
        ]
    ],
    "sourceMaps": "inline"
}